body {
    margin: 0%;
    padding: 0%;
    background-color: #585858;
    text-align: center;
}

h1 {
    margin: 0%;
}

.title {
    text-align: center;
    background-color: #202020;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 25px;
}

.calc {
    border: 1px solid black;
    border-radius: 9px;
    width: 300px;
    margin: 60px auto;
}

.input {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #202020;
    padding: 25px 0;
}

.keys {
    padding:10px;
}

.buttons {
    border-radius: 5px;
    border: 1px solid #202020;
    background-color: #202020;
    color: white;
    padding: 10px;
    width: 50px;
    margin: 5px;
}

.buttons:hover {
    background-color: #585858;
    color: black;
    border: 1px solid black;
}

.buttons:active {
    background-color: #202020;
    color: white;
}

.input input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
}